@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body{
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	position: relative;
}


body::after {
	content: '';
	display: block;
	height: 100px; /* Set same as footer's height */
  }


.thinbar{
	width:100%;
	height: 1.25em;
	background-color:#1B1C1D;
	display: flex;
	align-items: center;
	justify-content: right;
}

.thinbar-text{
	color: #FBFBFC;
	margin: 0px 5px 0px 0px;
	text-align: right;
	font-size: 12px;
	font-weight: 100;
}

.no-deco{
	text-decoration: none;
}

.navbar{
	display: flex;
	align-items: center;
	justify-content: start;
}

.navbar-logo{
	width:6em;
	margin: 0px 0px 0px 20px;
	padding-top:18px;
}

.navbar-buttongroup{
	margin: 0.5rem 0;
	margin-right: 0.75vw;
	padding: 0.15vh 1vw;
	min-height:2vh;
	border-radius: 8px;
	background-color: white;
	align-items: center;
	box-shadow: 0px 4px 7px 2px #DBDBDB;
	display: flex;
	min-width:22vw;
	justify-content: center;
	gap: 10px;
	flex-direction: row;
}
.navbar-button{
	font-size: 16px;
	margin: 4px;
	padding: 0px;
	height: auto;
	background-color: white;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	transition-duration: 0.4s;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-family: inter;
}

.navbar-button-link{
	text-decoration: none;
	color:#1B1C1D
}
.navbar-button-link:active{
	color:#DBDBDB
}

.navbar-button:hover{
	color:#85909e;
}

.divbody{
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.footer{
	background-color: #e3dcda;
	width:100%;
	position: absolute;
  	bottom: 0;
	height: 100px;
}

.footer-links{
	display: flex;
	justify-content: center;
}

.footer-linksimg{
	margin: 1rem 0.5rem 0 0.5rem;
}

.footer-copyrighttext{
	color: #1B1C1E;
	text-align: center;
	font-size: 12px;
	font-family: inter;
	margin-top: 20px;
}

.tempimg{
	margin: 1.5rem 0 0 3rem;
	max-width: 300px;
}

.constructionheader{
	margin: 4rem 0 0 2rem;
	padding-right: 1vw;
	color: #1B1C1E;
	font-family: inter;
}
.constructiontext{
	margin: 1rem 0 0 2rem;
	padding-right: 1vw;
	color: #1B1C1E;
	font-family: inter;
}

.bold{
	font-weight: 600;
}

.normal{
	font-weight: 400;
}

.thin{
	font-weight: 200;
}

.navbar-logo{
	padding: 0px;
	margin: -10px 0px -20px -10px;
	width: 70px;
	height: 70px;
}