@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body{
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	position: relative;
}


body::after {
	content: '';
	display: block;
	height: 100px; /* Set same as footer's height */
  }

  
.bold{
	font-weight: 600;
}

.normal{
	font-weight: 400;
}

.thin{
	font-weight: 200;
}

.no-deco{
	text-decoration: none;
}

.inter{
	font-family: inter;
}

.dark{
	color: #1B1C1E;
}

.bg-dark{
	background-color: #1B1C1E;
}

.thinbar{
	width:100%;
	height: 1.25em;
	display: flex;
	align-items: center;
	justify-content: right;
}

.thinbar-text{
	color: #FBFBFC;
	margin: 0px 5px 0px 0px;
	text-align: right;
	font-size: 12px;
	font-weight: 100;
}

.navbar-logo{
	padding: 0px;
	margin-left: 0px;
	width: 50px;
	height: 50px;
}

.tempimg{
	margin: 1.5rem 0 0 3rem;
	max-width: 300px;
}

.constructiontext{
	margin: 0 0 2rem 2rem;
	padding-right: 1vw;
}

.footer{
	background-color: #e3dcda;
	width:100%;
	position: absolute;
  	bottom: 0;
	height: 100px;
}

.footer-links{
	display: flex;
	justify-content: center;
}

.footer-linksimg{
	margin: 1rem 0.5rem 0 0.5rem;
}

.footer-copyrighttext{
	color: #1B1C1E;
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
}