@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.animate__animated.animate__slideInRight {
	--animate-duration: 0.2s;
}

.dropdown-menu {
	min-width: 60px !important;
}

body{
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}

body::after {
	content: '';
	display: block;
	height: 100px; /* Set same as footer's height */
  }

  
.bold{
	font-weight: 600;
}

.normal{
	font-weight: 400;
}

.thin{
	font-weight: 200;
}

.no-deco{
	text-decoration: none;
}

.inter{
	font-family: inter;
}

.align-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer{
	background-color: #e3dcda;
	width:100%;
	position: absolute;
  	bottom: 0;
	height: 100px;
}