@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

/* DEBUG 
*{
	border: 1px solid  red;
}
 DEBUG */

*{
	font-family: inter;
}

.animate__animated.animate__slideInRight {
	--animate-duration: 0.2s;
}

.dropdown-menu {
	min-width: 60px !important;
}

body{
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}

body::after {
	content: '';
	display: block;
	height: 100px; /* Set same as footer's height */
  }

  
.bold{
	font-weight: 600;
}

.normal{
	font-weight: 400;
}

.thin{
	font-weight: 200;
}

.no-deco{
	text-decoration: none;
}

<<<<<<< HEAD
.align-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
=======
.inter{
	font-family: inter;
}

>>>>>>> dbe43e4d1dc4254cbd8291e9f7b4e191183b3c34

.footer{
	background-color: #f8f9fa;
	width:100%;
	position: absolute;
  	bottom: 0;
	height: 100px;
}

<<<<<<< HEAD
/* Login Page */

.login-card{
    padding: 4vh 2.5vw;
    border-radius: 12px;
=======
@media screen and (min-width: 768px) {
	.align-center-md{
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
		align-self: center;
	}
}


.align-center{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	align-self: center;
>>>>>>> dbe43e4d1dc4254cbd8291e9f7b4e191183b3c34
}