@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.click-through{
	pointer-events: none;
}

.poppins{
	font-family: 'Poppins', sans-serif;

}

.thin{
	font-weight: 100;
}

.extra-light{
	font-weight: 200;
}

.light{
	font-weight: 300;
}

.regular{
	font-weight: 400;
}

.medium{
	font-weight: 500;
}

.semibold{
	font-weight: 600;
}

.bold{
	font-weight: 700;
}

.extra-bold{
	font-weight: 800;
}

.black{
	font-weight: 900;
}

.no-deco{
	text-decoration: none;
}