on: push
name: Discord Commits
jobs:
  discord_notify:
    name: notify
    runs-on: ubuntu-latest
    steps:
    - name: Test Info
      uses: rjstone/discord-webhook-notify@v1
      with:
        severity: info
        details: Test succeeded.
        webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
    - name: Test Warn
      uses: rjstone/discord-webhook-notify@v1
      with:
        severity: warn
        details: Test warning.
        webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
    - name: Test Error
      uses: rjstone/discord-webhook-notify@v1
      with:
        severity: error
        details: Test error.
        webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}